h1 {
  color: var(--primary-headings-color);
  font-size: 46px;
  margin-bottom: 30px;
}

h2,
h3,
.card-body {
  color: var(--secondary-color);
}

h2 {
  margin: 110px 0 30px;
}

.recipes-index-container {
  position: sticky;
  top: 70px; /* MESMO valor ou ligeiramente maior que a navbar */
  z-index: 900; /* abaixo da navbar, acima do conteúdo */
  background-color: var(
    --secondary-background-color
  ); /* a cor do fundo, para ficar “sólido” por trás dos links */
  padding: 8px 0;
  opacity: 0.9;
  border-bottom: 3px solid var(--primary-border-color);
  border-top: 4px solid var(--primary-border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}

.recipes-index {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  list-style: none;
  padding: 0;
  margin: 15px auto 10px;
  justify-content: center;
}

.recipe-section {
  max-width: 1000px;
  margin: 0 auto;
}

h3 {
  font-size: 32px;
  line-height: 1.6;
  margin: 35px 0 20px;
  padding-bottom: 8px;
  border-bottom: 3px double var(--hover-color);
}

.recipe-slide {
  padding: 0 8px;
}

.slick-prev,
.slick-next {
  width: 36px;
  height: 36px;
  z-index: 10;
}
.slick-prev {
  margin-left: -15px;
}

.slick-next {
  margin-right: -15px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px; /* podes manter o teu */
  line-height: 36px; /* igual à altura do botão */
  color: var(--accent-color);
}

.slick-arrow:hover::before {
  filter: brightness(0.95);
}

.slick-dots li button::before {
  color: var(--accent-color);
}

.slick-dots li.slick-active button::before {
  color: var(--accent-color);
  filter: brightness(0.85);
}

.slick-list {
  padding: 10px 0px;
  margin: 0 -8px;
}
.card {
  background-color: var(--secondary-background-color);
  border-color: var(--primary-border-color);
}

.card-img-top {
  object-fit: cover;
  object-position: center;
}

.card-img-wrapper {
  position: relative;
}

.card-img-overlay {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.rate {
  background-color: var(--primary-background-color);
  padding: 4px;
  border-radius: 8px;
  opacity: 0.8;
  filter: brightness(1.05);
}

.card-body {
  padding: 4px 8px;
}

.card-title {
  color: var(--primary-headings-color);
  font-size: 19px;
  text-align: start;
  font-weight: 500;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--primary-border-color);
  min-height: 75px;
}

.card-devices {
  font-size: 14px;
  padding: 3px 0;
  font-weight: 300;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  text-align: center;
}

.time-container,
.info-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}

.time-container {
  margin: 0 0 20px;
}

.time-container p {
  margin: 0;
  text-align: center;
}

.subtitle {
  font-weight: 500;
}

.serving-item {
  background-color: var(--primary-background-color);
  padding: 0px 9px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 6px;
  border: 1px solid var(--primary-border-color);
  font-size: 14px;
  opacity: 0.85;
}

.card-footer {
  text-align: end;
}

a {
  color: var(--accent-color);
  transition: all 0.15s ease-in-out;
  filter: brightness(1.05);
}

a:hover {
  text-decoration: none;
  filter: brightness(0.95);
}

@media (max-width: 1024px) {
  .recipe-section {
    max-width: 710px;
  }
}

@media (max-width: 768px) {
  .recipe-section {
    max-width: 520px;
  }
}

@media (max-width: 600px) {
  .recipe-section {
    max-width: 350px;
  }
}

.card-title {
  font-size: 17px;
}

.card-body {
  font-size: 15px;
}
.time-container {
  display: block;
}

@media (max-width: 400px) {
  .recipe-section {
    max-width: 280px;
  }
}
