.index-features-container {
  display: flex;
  justify-content: space-between;
}

.index-toggle {
  margin-left: 8px;
  border: 2px solid var(--primary-border-color);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.95);
  color: var(--accent-color);
  filter: brightness(1.05);
}
.index-toggle:hover {
  filter: brightness(1);
  transform: scale(1.02);
}

input {
  opacity: 0.8;
  border-radius: 6px;
  border: 2px solid var(--primary-border-color);
  font-size: 15px;
  padding: 4px;
  margin-right: 8px;
}

input::placeholder {
  color: var(--secondary-color);
  font-style: italic;
  opacity: 0.75;
}

.recipes-index-container {
  position: sticky;
  top: 70px; /* MESMO valor ou ligeiramente maior que a navbar */
  z-index: 900; /* abaixo da navbar, acima do conteúdo */
  background-color: var(
    --secondary-background-color
  ); /* a cor do fundo, para ficar “sólido” por trás dos links */
  padding: 8px 0;
  opacity: 0.9;
  border-bottom: 3px solid var(--primary-border-color);
  border-top: 4px solid var(--primary-border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}

.recipes-index {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  list-style: none;
  padding: 0;
  margin: 15px auto 10px;
  justify-content: center;
}
