body {
  background-color: rgb(255, 241, 197);
}

h3 {
  font-size: 32px;
  line-height: 1.6;
  margin: 35px 0 20px;
}

.insta-embed-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.insta-embed-wrapper {
  background: #f8f1e8;
  padding: 10px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 346px;
}

.RecipeSection {
  max-width: 1450px;
  margin: 0 auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(228, 157, 27, 0.5);
}

.card-body {
  padding: 12px;
  min-height: 300px;
}

.card-title {
  font-size: 19px;
  text-align: start;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  padding-bottom: 12px;
}

.card h6 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding-left: 4px;
  margin-top: 18px;
}

.card-devices {
  font-size: 16px;
  padding: 3px 0;
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.time-container {
  display: flex;
  justify-content: space-around;
  margin: 0 0 12px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
}

.subtitle {
  font-weight: 500;
}

.serving-item {
  background-color: rgba(220, 206, 175, 0.7);
  padding: 0px 10px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.95);
}
