:root {
  --primary-headings-color: rgb(167, 95, 63);
  --secondary-color: #6e4c3a;
  --primary-background-color: rgb(232, 216, 195);
  --secondary-background-color: rgb(255, 248, 230);
  --primary-border-color: rgb(243, 212, 158);
  --accent-color: #d39333;
  --hover-color: #c59b55;
}

body {
  background-color: var(--primary-background-color);
}

h1,
h2 {
  text-align: center;
}

.insta-embed-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}

.insta-embed-wrapper {
  background: var(--secondary-background-color);
  padding: 10px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 346px;
}
